<!DOCTYPE html>
<html lang="en">

<head>
    <title id="title"><super/> - Zig Embedded Group</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Zig Embedded Group: Bringing joy to the world of embedded development">
    <meta name="twitter:card" content="summary">
    <!--
    <meta name="twitter:site" content="@croloris">
    <meta name="twitter:author" content="@croloris">
    -->
    <meta name="twitter:description" content="Zig Embedded Group: Bringing joy to the world of embedded development">
    <meta name="twitter:title" content="$page.title.suffix(' - Zig Embedded Group')">
    <meta property="og:title" content="$page.title">
    <meta property="og:type" content="website">

    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="content"><super/></div>
</body>

</html>