[submodule "deps/zig-clap"]
	path = deps/zig-clap
	url = https://github.com/Hejsil/zig-clap.git
[submodule "deps/zig-libxml2"]
	path = deps/zig-libxml2
	url = https://github.com/mitchellh/zig-libxml2.git
