/* Limit the text width of the body to roughly 40 characters
body {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    font-family: sans;
}

@media screen and (max-width: 600px) {
    body {
        padding: 2em;
    }
}
// Align top-level headings
h1 {
    text-align: center;
}

// Make images in headings and links exactly 1 character high.
h1 img, h2 img, h3 img, h3 img, h4 img, h5 img, h6 img, a img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

// center images in a paragraph and display them as a block
p > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// Make nice top-level codeblocks
body > pre {
    background-color: #EEE;
    padding: 0.5em;
}

// Make nice top-level blockquotes
body > blockquote {
    border-left: 3pt solid cornflowerblue;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

// Make links in headings invisible
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    font-weight: lighter;
    color: unset;
    opacity: 10%;
    margin-left: -1.5em;
    padding-left: 0.5em;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
    opacity: 50%;
}*/

@import "https://rsms.me/inter/inter.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

html {
    font-family: "Inter", "Arial", sans-serif
}

@supports(font-variation-settings: normal) {
    html {
        font-family: "Inter var", "Arial", sans-serif
    }
}

* {
    box-sizing: border-box
}

html,
body {
    margin: 0
}

h1 {
    margin: 0;
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: -2px
}

h2 {
    font-size: 18pt;
    font-weight: 600
}

ul.bars {
    margin: 0;
    padding: 0;
    list-style: none
}

ul.bars li {
    border-bottom: 1px solid gray;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 12pt
}

a {
    color: #5c8ebf
}

strong,
strong a {
    color: #f7a41d
}

#intro {
    padding: 80px
}

#intro-nav {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between
}

#intro-grid {
    display: grid;
    gap: 40px;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr
}

@media only screen and (max-width: 1200px) {
    #intro-grid {
        grid-template-columns: 1fr 1fr
    }
}

@media only screen and (max-width: 700px) {
    #intro-grid {
        display: block
    }

    #intro-grid>* {
        display: block;
        margin-bottom: 40px
    }
}

#intro-grid a {
    text-decoration: none
}

#docs {
    display: flex
}

#docs-nav {
    border-right: 1px solid gray;
    padding: 40px 0px;
    width: 20%
}

#docs-nav-header {
    display: flex;
    align-items: center;
    flex-direction: column
}

#docs-body {
    width: 80%;
    padding: 40px
}

a[href^="http"]::after,
a[href^="https://"]::after {
    content: "";
    width: 11px;
    height: 11px;
    margin-left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%235c8ebf' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

img.inline {
    display: inline;
    max-height: 1.2em;
    max-width: 1.2em;
    vertical-align: middle;
}