name: Build Microzig

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-microzig:
    if: |
      ${{ 
        ( github.event_name == 'pull_request' && github.base_ref == 'main' ) 
        || github.ref_name == 'main' 
      }}
    name: Build
    uses: ./.github/workflows/build-base.yml
    with:
      zig-version: ${{ vars.TARGET_ZIG_VERSION }}
      get-submodules: true
      is-packaged: true
      zig-args: -Doptimize=ReleaseSmall
    secrets:
      downloads-url: ${{ secrets.DOWNLOADS_URL }}
