name: Continuous Deployment

permissions:
  contents: write

on:
  push:
    tags:
      - "*.*.*"

jobs:
  deploy-packages:
    runs-on: macos-latest
    steps:
      - name: Extract tag name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: Extract version
        run: echo "MICROZIG_VERSION=$(zig build package -- get-version)" >> $GITHUB_ENV

      - name: Assemble Packages
        run: zig build package -- "${{ secrets.DOWNLOADS_URL }}"

      - name: Create Release Draft
        uses: ncipollo/release-action@v1
        id: create_release
        with:
          tag: ${{ env.TAG_NAME }}
          artifactErrorsFailBuild: true
          draft: true
          generateReleaseNotes: true

      - name: Create Tarball
        run: |
          tar -czvf boxzer-out.tar.gz -C boxzer-out .

      - name: Upload Artifact to Release
        uses: actions/upload-release-asset@v1
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: boxzer-out.tar.gz
          asset_name: boxzer-out.tar.gz
          asset_content_type: application/gzip
