name: Continuous Deployment

permissions:
  contents: write

on:
  push:
    tags:
      - "*.*.*"

jobs:
  deploy-packages:
    runs-on: macos-latest
    steps:
      - name: Extract tag name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.13.0

      - name: Extract version
        run: echo "MICROZIG_VERSION=$(zig build package -- get-version)" >> $GITHUB_ENV

      - name: Assemble Packages
        run: zig build package -- https://microzig.tech/downloads/microzig

      - name: Release RegZ
        run: |
          zig build release-regz
          find zig-out/* -type d -print0 | xargs -0 -I {} sh -c 'mv {} "$(dirname {})"/regz-"$(basename {})"'

      - name: Release Uf2
        run: |
          zig build release-uf2
          find zig-out/* -type d -and -not -path "*regz*" -print0 | xargs -0 -I {} sh -c 'mv {} "$(dirname {})"/uf2-"$(basename {})"'

      - name: Create Microzig Tarball
        run: |
          tar -czf boxzer-out.tar.gz -C boxzer-out .

      - name: Create regz Tarballs
        run: |
          find zig-out/regz* -type d -exec sh -c 'tar -czf "{}.tar.gz" -C {} .' \;

      - name: Create uf2 Tarballs
        run: |
          find zig-out/uf2* -type d -exec sh -c 'tar -czf "{}.tar.gz" -C {} .' \;

      - name: Create Release Draft
        uses: ncipollo/release-action@v1
        id: create_release
        with:
          tag: ${{ env.TAG_NAME }}
          artifactErrorsFailBuild: true
          draft: true
          generateReleaseNotes: true
          artifacts: boxzer-out.tar.gz,zig-out/regz*.tar.gz,zig-out/uf2*.tar.gz
