on:
  workflow_call:
    inputs:
      runner:
        required: false
        type: string

jobs:
  setup:
    name: Setup
    runs-on: ${{ inputs.runner || 'ubuntu-latest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: ${{ github.ref == 'refs/heads/zig-master' && 'master' || '0.13.0' }}
