name: tools/regz-wizard
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    if: false
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [
            ubuntu-latest,
            #windows-latest, # Windows is having a hard time fetching raygui package reliably
            macos-latest,
          ]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Build
        working-directory: tools/regz-wizard
        run: zig build

      - name: Run Test Suite
        working-directory: tools/regz-wizard
        run: zig build test
