name: tools/regz-wizard
name: sim/aviron
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.14.1

      - name: Build
        working-directory: tools/regz-wizard
        run: zig build

      - name: Run Test Suite
        working-directory: tools/regz-wizard
        run: zig build test
